/* .dropzone.dz-clickable {
  border: 2px #ccc dashed !important;
  cursor: pointer !important;
} */

.vitrine-dz.dropzone {
  overflow-y: hidden !important;
}

.vitrine-dz.dz-drop-files-here.dropzone.dz-clickable {
  background: url('/io/images/vitrine/vitrine-avatar.png') no-repeat center 10px;
  background-size: 90%;
}

.vitrine-dz .dz-image-preview {
  margin: 0 !important;
}

/* .dropzone.dz-clickable:hover {
  border-color: #aaa !important;
} */
